body{
	margin: 0;
	font-family: 'Helverica', 'Arial', sans-serif
	line-height: 30px;
}
/* header */

header{
	background-color: grey;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
}

header h1{
	color: whitessmoke;
	font-family: 'Helverica', 'Arial', sans-serif;

}
h2{
	font-size: 20px;
	font-family: 'Helverica', 'Arial', sans-serif;
	margin: 0px 0px;

}
header img{
	border-radius: 180px;
	width: 360px;
	border: 15px solid black;
}
p{
	text-align: center;
}
p.under-img-text{
	font-family: Impact;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	background-image: linear-gradient(#804DA1, #AD75D1);

}

main img{
	max-width: 100%;
}

a{
	color: black;
}
a:hover{
	color: purple;
	background-color: lightgrey;
}

footer{
	background-color: grey;
	text-align: center;
	color: white;
	padding: 30px;
}
footer p{
	margin: 0;

}
footer a{
	color: whitesmoke;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}